.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #005f73, #0a9396);

    color: #fff;
    z-index: 1000;
    transition: all 0.3s ease-in-out;

  }
  
  .navbar-logo h1 {
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Hamburger menu */
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 4px 0;
    background-color: white;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {
    .navbar-links {
      position: absolute;
      top: 80px;
      right: 0;
      width: 100%;
      background: linear-gradient(45deg, #005f73, #0a9396);

      flex-direction: column;
      align-items: center;
      display: none;  /* Initially hidden */ 
      color: #fff; 
      z-index: 1000;
    transition: all 0.3s ease-in-out;

    }
  
    .navbar-links.active {
      display: flex;  /* Show the menu when active */
    }
  
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-links li {
      margin: 15px 0;
    }
  
    .navbar-links li a {
      font-size: 20px;
    }
  }
     

